* {
    box-sizing: border-box;
  }
body{
    background-color: #EEF9BF;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.titulo{
    margin-top: 40px;
    margin-bottom: 47px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

.space{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



#card{
    width: 117px;
    height: 146px;  
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 34px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all .5s;
}



#back{
    transform: rotateY(180deg);  
}

.face{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
}

.hidden{
    display: none;
}

.flip{
    transform: rotateY(180deg);  
}

img{
    width: 100px;
    height: 100px;
}

.cartaCorreta{
    filter: saturate(0);
    opacity: 0.5;
}